{% extends "base.html" %} {% block title %}Admin{% endblock %} {% block content
%}
<h1 align="center">Admin</h1>
<br />
<a href="/admin/lock.html">Lock or unlock round for players</a> <br />
<a href="/admin/enter_teams.html">Enter teams in bracket - Round of 64</a> <br />
<a href="/admin/round1.html">Submit winners for round 1 - Round of 64 and Round of 32</a> <br />
<a href="/admin/round2.html">Submit winners for round 2 - Sweet 16 and Elite 8</a> <br />
<a href="/admin/round3.html">Submit winners for round 3 - Final 4 and Championship</a> <br />

{% endblock %}
