{% extends "base.html" %} {% block title %}Admin{% endblock %} {% block content
%}
<h1 align="center">Admin</h1>
<br />
<a href="/admin/lock">Lock or unlock round for players</a> <br/>
<a href="/admin/enter_teams">Enter teams in bracket - Round of 64</a> <br/>
<a href="/admin/round1">Submit winners for round 1 - Round of 64</a> <br/>
<a href="/admin/round2">Submit winners for round 2 - Round of 32</a> <br/>
<a href="/admin/round3">Submit winners for round 3 - Sweet 16</a> <br/>
<a href="/admin/round4">Submit winners for round 4 - Elite 8</a> <br/>
<a href="/admin/round5">Submit winners for round 5 - Final 4</a> <br/>
<a href="/admin/round6">Submit winners for round 6 - Championship</a> <br/>

{% endblock %}
