{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">OsterHoops</h1>
{% endblock %}

<!--
<ul class="list-group list-group-flush" id="pools">
  {% for each in Pool %}
  <li class="list-group-item">
    {{ each.pool_name, each.password }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>

<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
-->
