{% extends "base.html" %} {% block title %}Make Admin{% endblock %} {% block content
%}
<h1 align="center">Make Admin</h1>

<form method="POST">
  <div class="form-group">
    <label for="userEmail">User Email</label>
    <input
      type="email"
      class="form-control"
      id="userEmail"
      name="userEmail"
      placeholder="Enter user email"
    />
  </div>
  <br />
  <div class="form-group">
    <label for="giveAdminAccess">Give Admin Access</label>
    <select id="giveAdminAccess" name="giveAdminAccess">
		<option value="True">True</option>
		<option value="False">False</option>
    </select>
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
