{% extends "base.html" %} {% block title %}Pools{% endblock %} {% block content
%}
<h1 align="center">Pools</h1>

<ul class="nav nav-tabs" id="menu">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Pools</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/pools">View Pools</a></li>
      <li><a class="dropdown-item" href="/join-pool">Join Pool</a></li>
      <li><a class="dropdown-item" href="/create-pool">Create Pool</a></li>
    </ul>
  </li>
</ul>

<ul class="list-group list-group-flush" id="pools">
  {% for each in pool %}
  <li class="list-group-item">
    {{ each.pool_name, each.password }}
    <!--
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
    -->
  </li>
  {% endfor %}
</ul>
